body{
	background-color: #263238;
	color: white;
}
#frame{
	width:100%;
	height:550px;
	border: none;
}
#message{
	color :red;
}
  #sent{

	}
.sortable a:hover {
    cursor: pointer;
}
#id_mail{
	display: none;
}
#text1{
	width: 100%;

}
#divformEdit{
	width: 100%;
	align:center;
}
#formEdit{
padding: 10%;
}
@media only screen and (max-width: 1366px) and (min-width: 981px) {
	#select
	{
		display: none;
	}
	#btnDelete
	{
		display: none;
	}


}

@media only screen and (max-width: 980px) and (min-width: 320px) {

	#table_sent{
	display: none;
	}
#right{
	display: none;
}
#left{
	width: 100%;
}
	#select{
		font-size: 25px;
		border-radius: 0;
		border: none;
		background: #EEE8AA;
		overflow: hidden;
		padding-top: 15px;
		height: 70px;
		text-indent: 10px;
		color: black;
	}

}
